@import 'tailwindcss';

:root {
	--background: #bdccd4;
	--foreground: #171717;

	/* --color-white: #ffffff; */
	/* --color-black: #000000; */

	--secondary-background: #171717;
	--secondary-foreground: #bdccd4;

	--color-orangemain: #ff5421;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-orangemain: oklch(82.8% 0.189 84.429);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: var(--secondary-background);
		--foreground: var(--secondary-foreground);
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
}

h1 {
	font-size: 3.5rem;
}

h3 {
	font-size: 1.25rem;
}

.container {
	padding-left: 1.25rem; /* 20px */
	padding-right: 1.25rem; /* 20px */
}

.btn-primary {
	@apply px-4 py-2 font-semibold text-white transition-all duration-300 rounded-lg cursor-pointer bg-orangemain hover:opacity-80;
}
