@import 'tailwindcss';

:root {
	--background: #bdccd4;
	--foreground: #171717;

	--secondary-background: #b89f91;
	--secondary-foreground: #ff5421;

	--color-orangemain: #ff5421;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-orangemain: oklch(82.8% 0.189 84.429);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #1d293d;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
}

h1 {
	font-size: 3.5rem;
}

h3 {
	font-size: 1.25rem;
}

.container {
	padding: 0 1.5rem; /* 24px */
}
